<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit=block_27 valign=middle colspan="2"
            style=font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;>
          <h2 style="text-align: center;">This user has agreed to issue a policy. </h2>
          <h2 style="text-align: center;">The policy is not issued yet. </h2>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit=block_27 valign=middle colspan="2"
            style=font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;>
          <img src="https://boom.insure/assets/images/demo-price/range_new.png" width="100px"
               style="width: 50px; margin-left: 45%;margin-bottom: 25px;">
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <h3>Basic Coverage</h3>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <h3>Extra Coverage</h3>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <h3>Applicant Details</h3>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Full Name : </b> <span>{{ personData[0]['first_name'] +' '+personData[0]['last_name']}}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Email : </b> <span>{{ personData[0]['email'] }}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Phone : </b> <span>{{ personData[0]['phone'] }}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>DOB : </b> <span>{{ personData[0]['dob'] }}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% if (personData.length>1) %}
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Co-Applicant : </b> <span>{{ personData[1]['first_name'] +' '+personData[1]['last_name'] }}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>DOB : </b> <span>{{ personData[1]['birthday'] }}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endif %}
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <h3>Property Details</h3>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Year Built : </b> <span>{{built_year}}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Foundation : </b> <span>{{foundation}}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Construction Type : </b> <span> {{construction_type}}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Exterior : </b> <span>{{exterior_type}}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Roof Year : </b> <span>{{roof_year}}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>A/C : </b> <span>{{ac_year}}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Electric : </b> <span>{{electric_year}}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr mc:repeatable=item>
  <td style=padding:0 0 27px;>
    <table width=100% cellpadding=0 cellspacing=0>
      <tr>
        <td mc:edit="block_26" width=40 valign=top>
          <img src=https://www.psd2html.com/examples/markup/ultimaker/ico-01.png width=32
               style=vertical-align:top; alt=/>
        </td>
        <td mc:edit=block_27 valign=top
            style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
          <b>Plumbing : </b> <span>{{plumbing_year}}</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
